<!DOCTYPE html>

<html ng-app="app">
<head>
    <title>Hello world</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/src/app.js"></script>
    <script src="js/src/controllers/HelloCtrl.js"></script>
    <script src="js/src/services/github.js"></script>
    <script src="js/src/directives/avatar.js"></script>
</head>
<body>
    <h1>Hello</h1>
    <div ng-controller="HelloCtrl">
        <form name="orgForm">
            <input type="text" name="login" ng-model="login"/>
            <button type="submit" ng-click="showOrg(login)">Show GitHub organization</button>
        </form>

        <h2 ng-show="orgError">This organization doesn't exist.</h2>
        <div ng-show="org">
            <h2 >{{ org.name }}</h2>
            <avatar entity="org"></avatar>
            <div ng-show="org.blog"><a ng-href="{{ org.blog }}">Blog</a></div>
            <div><a ng-href="{{ org.html_url }}">GitHub page</a></div>
            <h3>Members</h3>
            <ul>
                <li ng-repeat="member in org.members"><avatar entity="member" size="small"></avatar>{{ member.login }}</li>
            </ul>
        </div>
    </div>
</body>